body {
  background: url("img/sun.png") #9AD0E6;
  background-repeat: no-repeat;
  background-position: right top;
  color: #333;
  margin: 1px auto;
}

label {
	font-size: .80em;
	margin-left: 5px;
}

h3 {
  font-size: 1.2em;
}

input[type="checkbox"] {
  display: inline-block;;
}

input[type="text"] {
	padding: 15px;
	width: 50%;
	outline: none;
	border: 1px solid #999;
	display: block;
}
input:focus {
	background: #eee;
}

button {
	border: 1px solid #999;
	background: #666;
	color: #fff;
	padding: 5px;
}
button:hover {
	background: #333;
}

#clearButton {
	margin: 20px 0;
	font-size: 1.1em;
	padding: 10px;
}

.darkTheme {
  background: url("img/moon.png") #002040;
  background-repeat: no-repeat;
  background-position: right top;
  color: #ccc;
}

.largeText {
  font-size: 1.5em;
}

#container {
  border: 1px solid black;
  margin: 1% 2%;
  padding: 1%;
  line-height: 1.8em;
  font-family: 'Rubik', sans-serif;
  background: #fff;
  opacity: .9;
  color: #333;
  height: 300px;
  overflow-y: auto;
}

#container button {
	width: 100px;
}

.navbar-form {
  margin: 10px auto;

}

.checkboxes {
  margin-top: 1%;
}

.delete {
  font-size: .75em;
  margin: 0 1%;
  padding: 0;
}

.header input {
  display: flex;
  margin-left: 2;
}

.img-circle {
  width: 10%;
  height: 10%;
  display: flex;
  margin: 1%;
}

.date {
  font-size: .75em;
  display: block;
  margin-bottom: 10px;
}